<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Tic Tac Toe</title>
        
        <link rel="icon" type="plantilla-icon" href="static/assets/ABB-IRB-120-3-0-6-robot.ico" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="static/css/style.css">

    </head>

    <body >
        <!-- Header -->
        <header
            id="header"
            class="container-fluid pb-1"
            >
            <nav class="navbar navbar-expand-sm navbar-light">
                <div class="container-fluid" id="navbar-header">      
                    <a class="navbar-brand" href="/">
                        <img src="static/assets/ABB-IRB-120-3-0-6-robot.png" alt="">
                    </a>              
                    <button id="header-btn" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <div class="navbar-nav">      
                            <a class="nav-item nav-link active" href="/">Home</a>
                            <a class="nav-item nav-link" href="/configuration">Configuración</a>
                            <a class="nav-item nav-link" href="/tutorial">Tutorial</a>
                            <a class="nav-item nav-link" href="#footer">About</a>
                        </div>
                    </div>    
                </div>
            </nav>
            <h1
                id="header-title"
                class="d-flex justify-content-center"
                style="font-size: 400%; font-family: consolas; font-weight: bold; text-align: center;"
                >            
                Tic Tac Toe
            </h1>
            <hr class="hr" />
        </header>
        <!-- Header -->
        
        <!-- Games Modes -->
        <section
            id="playmode-section"
            class="container-fluid p-5"
            >  
            <div 
                id="playmode-row"
                class="row mx-auto my-auto"
                style="height: 60%;"    
                >     
                <div
                    id="playmode-oneplayer-col" 
                    class="col-md-6 my-2"
                    >
                    <div
                        id="playmode-oneplayer-card" 
                        class="card"
                        style="height: 250px;"  
                        >
                        <div class="card-body d-flex justify-content-center">
                            <img src="static/assets/person.png" alt="">
                        </div>
                        <div class="card-header">
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <a  
                                    id="playmode-oneplayer-btn"
                                    class="btn border" 
                                    type="button"  
                                    style="font-weight: bold;" 
                                    href="/play"
                                >
                                    Un Jugador
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div 
                    id="playmode-twoplayers-col"
                    class="col-md-6 my-2">
                    <div
                        id="playmode-twoplayers-card"
                        class="card"
                        style="height: 250px;"  
                        >
                        <div class="card-body d-flex justify-content-center">
                            <img src="static/assets/people.png" alt="">
                        </div>
                        <div class="card-header">
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <a 
                                    id="playmode-twoplayers-btn"
                                    class="btn border" 
                                    type="button"                                      
                                    style="font-weight: bold;" 
                                    href="/play"
                                >
                                    Dos jugadores
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        </section>
        <!-- Game Modes -->

        <!-- Footer -->
        <footer 
            id="footer"
            class="page-footer text-center text-lg-start text-muted"
        >
            <!-- Links -->
            <div 
                id="footer-links"
                class="container-fluid text-center text-md-start" 
                >
                <!-- Grid row -->
                <div class="row d-flex justify-content-center">      

                    <!-- Grid column -->
                    <div class="col-sm-4 my-3">
                        <!-- Links -->
                        <div class="container-fluid d-flex justify-content-center">
                            <a href="https://new.abb.com/es" target="_blank">
                                <img src="static/assets/ABB_logo.png" class="img-fluid">
                            </a>
                        </div>                                
                    </div>
            
        
                    <!-- Grid column -->
                    <div class="col-sm-4 my-3">
                        <!-- Links -->
                        <div class="container-fluid d-flex justify-content-center">
                            <a href="https://github.com/nachoperezzv/servicios.git" target="_blank">
                                <img src="static/assets/github.png" class="img-fluid">
                            </a>
                        </div>
                    </div>
        
                    <!-- Grid column -->
                    <div class="col-sm-4 my-3">
                        <!-- Links -->
                        <div class="container-fluid d-flex justify-content-center">
                            <a href="mailto:ignacioperezzv@gmail.com" target="_blank">
                                <img src="static/assets/envelope.png" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Copyright -->
            <div 
                id="footer-copyright"
                class="d-flex justify-content-center pt-4 pb-3" 
                style="text-align: center;"
                >
                <p> 
                    © 2022 Copyright <br> 
                    <img src="static/assets/ua-logo.png" alt=""> Universidad de Alicante
                </p>
            </div>
        </footer>
        <!-- Footer -->
        
        <!-- Scripts -->
        <script src="static/js/speechRecognition.js"></script>
        <script src="static/js/language.js"></script>
        <script src="static/js/manager.js"></script>
        <script src="static/js/connection.js"></script>

        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous">
        </script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous">
        </script>
        <!-- Scripts -->

        
    </body>

    
</html>